version: "3.8"
services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sellcase
      TZ: ${TZ:-Europe/Kyiv}
    ports: [ "5432:5432" ]
    volumes:
      - pgdata:/var/lib/postgresql/data
  api:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    env_file: .env
    depends_on: [ db ]
    ports: [ "8000:8000" ]
    volumes:
      - .:/code
    working_dir: /code
volumes:
  pgdata:
